.content {
    width: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  /* Layout for smaller screens (Mobile) */
@media screen and (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr; /* 1 column grid */
      gap: 8px;
  }
}
  
  .steps,
  .video {
    background-color: #1c1632; /* Adjusts all content boxes */
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps h3,
  .video h3 {
    color: #0070f3;
  }

  @media screen and (max-width: 546px) {
    .video video {
      width: 375px;
    }
    .steps ul li {
      font-size: 16px !important;
    }
  }
  
  .steps ul {
    padding-left: 8px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .steps ul li {
    margin-bottom: 1rem; /* Add space between each list item */
    font-size: 18px;
    margin-right: 8px;
  }

  .steps ul ::before {
    content: '\2192'; /* Unicode for a rightward arrow (→) */
    margin-right: 10px; /* Add some space between the arrow and text */
  }
  
  .gridHeader {
    font-size: larger;
    text-align: center;
    margin-bottom: 4px;
  }

  .gridSubHeader {
    text-align: center;
    font-style: italic;
    margin-bottom: 16px;
  }