.header {
    width: 100%;
    background-color: #0070f3;
    color: white;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-color: antiquewhite;
    border-style: double;
    border-width: 2px;
  }
  
  .header h1 {
    margin: 0;
  }

  @keyframes textColorChange {
    0% {
      color: white;
    }
    20% {
      color: lightblue;
    }
    40% {
      color: skyblue;
    }
    60% {
      color: lightcyan;
    }
    80% {
      color: whitesmoke;
    }
    100% {
      color: white;
    }
  }

  .decorate {
    animation: textColorChange 3s ease-in-out infinite;
  }