.subintro {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .subintro h2 {
    color: #0070f3;
    margin: none;
    font-size: 22px;
  }
  
  .subintro p {
    line-height: 1.5;
  }

  .typicalList {
    display: flex;
    justify-content: center;
    list-style: square;
    gap: 32px;
  }

  @media screen and (max-width: 768px) {
    .typicalList {
      flex-flow: row wrap;
      gap: 8px 32px;
    }
  }