.summary {
    margin: 2rem 0;
    text-align: center;
    background-color: #0070f3;
    padding: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: antiquewhite;
    border-style: double;
    border-width: 2px;
  }
  
  .summary h2 {
    color: #ffffff;
    padding-bottom: 1rem;
  }
  
  .summary p {
    line-height: 1.5;
  }